.innovatoions-team__module {
    padding: 0;


    .heading-h3 {
        display: block;
        text-align: center;
    }

    .filters {
        display: block;
        text-align: center;
        margin-top: 10px;

        button {
            background-color: transparent;
            color: #161e66;
            font-size: 18px;
            font-weight: 600;
            padding: 10px 30px;
            border: 0;
            border-radius: 50px;
            margin: 0;
            outline: 0;
            &:hover,
            &.active-on {
                background-color: #161e66;
                color: #fff;
            }

            &.active-on,
            &:focus {
                outline: none;
            }
        }
    }

    .grid {
        margin-right: -10px;
        margin-left: -10px;
        padding: 40px 0;
        display: flex;
        flex-wrap: wrap;
        min-height: 61rem;
    }

    .item {
        position: relative;
        min-height: 312px;
        display: flex;
        flex-direction: column;
        flex: 0 0 25%;
        max-width: 25%;
        min-width: 285px;
        padding: 10px;


        @include mq("tablet-wide") {
            flex: 0 0 50%;
            max-width: 50%;
        }

        @include mq("phone") {
            flex: 0 0 100%;
            max-width: 100%;
        }


        .photo {
            width: 100%;
            height: auto;
            margin: 0 auto;
            border: 1px solid #e0e4e6;
            border-bottom: 0;
            background-color: #fff;
            min-width: 285px;
            img {
                width: 100%;
                height: auto;
              @media screen and (min-width:992px){
                width:283px;
                height:306px;
              }                 
            }
        }

        .copy {
            padding: 15px;
            border: 1px solid #e0e4e6;
            border-top: 0;
            background-color: #fff;
            min-width: 285px;
            min-height: 194px;
        }

        .name {
            padding: 0 0 8px 0;
            font-size: 20px;
            line-height: 28px;
            font-family: "OpenSans-Bold", sans-serif;
        }

        .position {
            font-size: 16px;
            line-height: 16px;
            padding: 8px 0;
        }

        .location {
            font-size: 16px;
            line-height: 16px;
            padding: 8px 0;

            svg {
                display: inline-block;
                margin-right: 1px;
                vertical-align: top;
            }
        }

        .social {
            padding: 12px 0;

            a {
                display: inline-block;
                border-radius: 3px;
                text-decoration: none;
                color: #fff;
                display: inline-block;
                padding: 0;
                background-color: #3666b1;


                span {
                    font-size: 12px;
                    line-height: 30px;
                    font-weight: 600;
                    padding: 0 12px 0 7px;
                }

                i {
                    border-right: 1px solid #fff;
                    font-size: 14px;
                    line-height: 30px;
                    display: inline-block;
                    padding: 0 10px 0 10px;
                }

                &:hover {
                    background-color: #2b518d;
                    color: #fff
                }
            }
        }
    }
}
