@import "./palette";
@import "./mixins";

.content__tabs_2023 ul{
    list-style: none;
    margin: 0;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.content__tabs_2023 ul::before {
    content: "";
    border-radius: 65px;
    border: none;
    background:$azure;
    position: absolute;
    left: 0;
    top: .4rem;
    height: 74px;
    width:100%;
    z-index: -1;
}

.content__tabs_2023 ul li {
    flex: 1;
    position: relative;
    max-width: 20%;
    min-width: 90px;
    justify-content: center;
    align-items: center;
    display: flex;
    @include transition(0.3s ease);
    border-radius:50px;
    height: 82px;
    &:hover{
        background-color: $primary-blue;
        border-radius:50px;
        height: 82px;
    }
    &:hover a{
        color: #fff;
    }
}
.content__tabs_2023 ul li.current {
    background-color: $primary-blue;
    border-radius:50px;
    height: 82px;
}
.content__tabs_2023 ul li.current a {
    color: #fff;
}

.content__tabs_2023 ul li a {
    color: $primary-blue;
    font-size: 2rem;
    line-height: 2.6rem;
    @include boldFontforHeadingsh3h4h5();
    text-decoration: none;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}