@import "./_mixins.scss";
@import "../partials/_fonts.scss";
h1,
h2,
h3,
h4,
h5,
h6 {
  @include boldFontforHeadings();
  letter-spacing: -2px;
  color: $primary-blue;
  margin-top: 0;
  margin-bottom: 1rem;
  &.center {
    text-align: center;
  }
  &.no-margin {
    margin: 0;
  }
  &.primary-light-blue {
    color: $primary-light-blue;
  }
  &.white {
    color: $primary-white;
  }
  @include mq("tablet-wide") {
    margin-top: 1.5rem;
  }
}

h1.page__title {
  font-size: 8rem;
  line-height: 7.6rem;
  @include xBoldFontforHeadings();
  @include mq("tablet-wide") {
    font-size: 4rem;
    line-height: 3.6rem;
  }
}
h1 {
  font-size: 6rem;
  line-height: 6.2rem;
  @include mq("tablet-wide") {
    font-size: 4rem;
    line-height: 3.6rem;
  }
}
h2 {
  font-size: 4.2rem;
  line-height: 4.6rem;
  @include mq("tablet-wide") {
    font-size: 3rem;
    line-height: 2.6rem;
  }
}
h3 {
  font-size: 3.2rem;
  line-height: 3.6rem;
  @include boldFontforHeadingsh3h4h5();
  @include mq("tablet-wide") {
    font-size: 2.5rem;
    line-height: 2.2rem;
  }
}
h4 {
  font-size: 2.2rem;
  line-height: 2.6rem;
  letter-spacing: -1px;
  @include boldFontforHeadingsh3h4h5();
}
h5 {
  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: -1px;
  @include boldFontforHeadingsh3h4h5();
  &.bottom__line {
    padding-bottom: 1rem;
    position: relative;
    margin-bottom: 1rem;
    &::before {
      content: "";
      position: absolute;
      left: 3rem;
      bottom: 0;
      height: 4px;
      width: 22px;
      background-color: $cerulean;
    }
  }
}

.heading-h1 {
  font-size: 6rem;
  margin-bottom: 3rem;
  z-index: 1;
  line-height: 7rem;
  @include boldFontforHeadings();

  &.-bold {
    @include xBoldFontforHeadings();
  }

  @include mq("phone") {
    font-size: 3.75rem;
    line-height: 3.5rem;
    font-weight: 600;
  }
}

.heading-h2 {
  font-size: 3.75rem;
  z-index: 1;
  @include boldFontforHeadings();

  &.heading-animation {
    font-size: 2rem;
  }

  @include mq("phone") {
    font-size: 2rem;
    line-height: 3.5rem;
  }
}

.heading-h2-alt {
  font-size: 6rem;
  z-index: 1;
  color: $primary-light-blue;
  @include boldFontforHeadingsh3h4h5();
  @include mq("phone") {
    font-size: 3rem;
  }

  @include mq("tablet-wide") {
    margin: 0;
    font-size: 4rem;
  }
}

.heading-h3 {
  font-size: 2.5rem;
  z-index: 1;
  @include boldFontforHeadingsh3h4h5();
  @include mq("phone") {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.heading-h4 {
  font-size: 1.8rem;
  line-height: 36px;
  @include boldFontforHeadingsh3h4h5();
}

.heading-h5 {
  font-size: 1.5rem;
  @include boldFontforHeadingsh3h4h5();
  line-height: 26px;
}

a.link_type_2022 {
  font-size: 2rem;
  line-height: 3.2rem;
  color: #0f2067;
  @include boldFontforHeadingsh3h4h5();
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding-bottom: 3px;
  margin-bottom: 3px;
  transition: border-color 0.3s ease;
  &:hover {
    border-color: $primary-light-blue;
  }
  &.internal--link::after {
    content: "";
    position: relative;
    padding: 0.3rem 1.2rem;
    margin-left: 1rem;
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.528 5.73431L13.9788 4.32031L21.3172 11.4753L21.312 11.4805L21.8939 12.0478L14.0662 19.6798L12.6159 18.2658L18.0367 12.9805H2.10614V10.9805H17.9079L12.528 5.73431Z' fill='%230F2067'/%3e%3c/svg%3e")
      no-repeat 50% 50%;
  }
  &.download--link::before {
    content: "";
    position: relative;
    padding: 0.3rem 1.2rem;
    margin-right: 1rem;
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M17.6765 11.1998L16.2902 9.9002L13.1834 13.2144V2H11.2834V13.1042L8.19555 9.60507L6.77118 10.8619L12.2121 17.0284L17.6765 11.1998Z' fill='%230F2067'/%3e%3cpath d='M18.5667 15.6167V19.1H5.9V15.6167H4V21H20.4667V15.6167H18.5667Z' fill='%230F2067'/%3e%3c/svg%3e")
      no-repeat 50% 50%;
  }
}

em,
i {
  @include lightFont();
  color: $primary-blue;
}

main p,
.rte__main p {
  @include lightFont();
  color: $primary-blue;
  font-size: 1.8rem;
  line-height: 2.6rem;
  &.no-margin {
    margin: 0;
  }
  b,
  strong {
    @include boldFontforHeadingsh3h4h5();
    color: $primary-blue;
  }
  @include mq("phone") {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}
p.intro-small {
  font-size: 1.6rem;
  line-height: 2.4rem;
  @include microLightFont();
  color: $primary-blue;
}

p.quote {
  font-size: 2.8rem;
  line-height: 4.4rem;
  @include boldFontforHeadings();
  color: $primary-black;

  @include mq("phone") {
    font-size: 2rem;
    line-height: 3.4rem;
  }
}

p.caption {
  display: block;
  padding: 1rem 3rem;
  background-color: $primary-blue;
  margin: 0;
  color: #fff;
  font-size: 1.4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

p.intro {
  color: $primary-blue;
  font-size: 2.8rem;
  line-height: 3.6rem;
  @include lightFont();
}

p.body-large {
  color: $primary-blue;
  font-size: 2.2rem;
  line-height: 3rem;
  @include lightFont();
}

p.intro-large {
  color: $primary-black;
  font-size: 3.2rem;
  line-height: 5.2rem;
  @include lightFont();
  &.center {
    text-align: center;
  }
}
ul li {
  list-style-type: none;
}

// new rte for 2023
.rte__main {
  a {
    position: relative;
    display: inline-block;
  }
  a.external__link,
  a.download__link,
  a.arrow__right {
    &::after {
      content: "";
      display: block;
      width: 100%;
      transform: scaleX(0);
      transform-origin: top left;
      transition: transform 0.5s ease;
      height: 2px;
      background: $primary-blue;
      margin-bottom: -2px;
    }
    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }
  }
}

a.external__link {
  &::before {
    content: "";
    padding: 1rem 0.5rem;
    margin-right: 0.7rem;
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.33594 6.5H3.83594V14.1667H11.5026V10.6667' stroke='%230F2067'/%3e%3cpath d='M8.66406 5.16669H12.8307V9.33335' stroke='%230F2067'/%3e%3cpath d='M12.8307 5.16669L7.66406 10.3334' stroke='%230F2067'/%3e%3c/svg%3e ")
      no-repeat 50% 50%;
  }
}

a.arrow__right::before {
  content: "";
  padding: 1rem 0.5rem;
  margin-right: 0.7rem;
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6.0026 1.33337L9.66927 5.00004L6.0026 8.66671M9.33594 5.00004H0.335938' stroke='%230F2067' stroke-width='1.5'/%3e%3c/svg%3e ")
    50% 50% no-repeat;
}

a.download__link {
  &::before {
    content: "";
    padding: 1rem 0.5rem;
    margin-right: 0.7rem;
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='11' viewBox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.16406 7.33335V10.1667H10.8307V7.33335M8.33073 5.00002L5.9974 7.33335M5.9974 7.33335L3.66406 5.00002M5.9974 7.33335V0.666687' stroke='%230F2067'/%3e%3c/svg%3e ")
      no-repeat 50% 50%;
  }
}

.details.rich-text-editor {
  ul li::before {
    display: none;
  }
}

.rich-text-editor {
  .article-downloads {
    ul li::before {
      display: none;
    }
  }
}

.rich-text-editor {
  &.white {
    z-index: 1;
    position: relative;

    p {
      a {
        &:hover,
        &:active,
        &:focus {
          color: #fff;
          text-decoration: underline;
        }
      }
    }

    ul li {
      a {
        &:hover,
        &:active,
        &:focus {
          color: #fff;
        }
      }
    }

    p,
    h1,
    h2,
    h3,
    h4,
    li {
      color: #fff;
    }
  }

  &.centered {
    p,
    h1,
    h2,
    h3,
    h4,
    a {
      text-align: center;
    }
  }

  &.grey {
    p,
    h1,
    h2,
    h3,
    h4,
    li {
      color: #5d5d5d;
    }
  }

  ol {
    counter-reset: ol;
    list-style: none;
    margin: 0 0 2rem 0;
    padding-left: 3rem;
  }

  ol > li {
    position: relative;
    color: $primary-black;
    margin-top: 0 !important;
    font-size: 1.8rem;
    padding-left: 1rem;
    margin: 0 0 1rem 0;
  }

  ol > li::before {
    counter-increment: ol;
    content: counter(ol) ".";
    color: $primary-light-blue;
    left: -1.5rem;
    top: 0;
    width: 1.5em;
    display: inline-block;
    position: absolute;
  }

  ul {
    counter-reset: ol;
    list-style: none;
    margin: 0 0 2rem 0;
    padding-left: 2rem;

    &.contact-links {
      margin-top: 5rem;
    }
  }

  ul li {
    position: relative;
    font-size: 1.8rem;
    margin: 0 0 1rem 0;
    color: $primary-blue;
    margin-top: 0 !important;
  }

  ul li::before {
    content: "\2022";
    color: #00afda;
    left: -1.5rem;
    width: 1.5em;
    font-size: 2rem;
    display: inline-block;
    position: absolute;
  }

  ul li {
    a {
      @include transition(0.3s ease);
      display: inline;
      text-decoration: none;
      color: $primary-light-blue;
      @include lightFont();
      &:hover,
      &:active,
      &:focus {
        color: $primary-black;
        text-decoration: underline;
      }
    }
  }

  p {
    word-wrap: break-word;

    a {
      @include transition(0.3s ease);
      display: inline;
      text-decoration: none;
      @include lightFont();
      &:hover,
      &:active,
      &:focus {
        color: $primary-black;
        text-decoration: underline;
      }
    }
  }
}

.typography {
  ul {
    list-style: none;
    margin: 1rem;
    padding: 0;
    border: solid 1px #eee;

    li {
      margin: 0 0 2rem 0;
    }
  }
}

ul.bullet-point-standard {
  counter-reset: ol;
  list-style: none;
  margin: 0 0 2rem 0;
  padding-left: 2rem;

  li {
    position: relative;
  }
}

ul.bullet-point-standard > li::before {
  content: "\2022";
  color: $primary-light-blue;
  left: -1.5rem;
  width: 1.5em;
  font-size: 2rem;
  display: inline-block;
  position: absolute;
}

.font__weight {
  padding-left: 3rem;
  font-size: 3rem;
}

.overflow {
  text-overflow: ellipsis;
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.overflow::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
  display: none;
}

.overflow::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.overflow::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px transparent;
  background-color: transparent;
}

.strong-text {
  text-transform: uppercase;
  font-weight: 900;
}
